Here is a sample line of code that can be executed in Python:

print("Hello, World!")
You can just as easily store a string as a variable and then print it to stdout:

my_string = "Hello, World!"
print(my_string)
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

Sample Output 0

Hello, World!

In [1]:
 print("Hello, World!")

Hello, World!

Task
Given an integer, n, perform the following conditional actions:
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Input Format
A single line containing a positive integer, m.
Constraints
1<n<100
Output Format
Print Weird if the number is weird. Otherwise, print Not Weird.
Sample Input O
Sample Output O
Weird
Explanation O
a = 3
nis odd and odd numbers are weird, so print Weird.
Sample input 1
24
Sample Output 1
Not Weird
Explanation 1
n = 24
n> 20 and n is even, so it is not weird.

In [2]:
if __name__ == '__main__':
    n = int(input().strip())

    if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0 and n in range(2, 6):
        print("Not Weird")
    elif n % 2 == 0 and n in range(6, 21):
        print("Weird")
    elif n % 2 == 0 and n > 20:
        print("Not Weird")

3
Weird

Check at tab to know how to to solv
Task
The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:
1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first-second).
3. The third line contains the product of the two numbers.
Example
a = 3
b=5
Print the following:
8 15
Input Format
The first line contains the first integer,
The second line contains the second integer, &.
Constraints
1 <= a <= 10 ^ (ib)
1 <= b <=10^ i0
Output Format
Print the three lines as explained above.
Sample Input O
3
2
Sample Output O
5 1 6
Explanation O
3+25
3-21
3*2

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a + b)
    print(a-b)
    print(a*b)

2
2
4
0
4

Task
The provided code stub reads two integers, a and b, from STDIN.
Add logic to print two lines. The first line should contain the result of integer division, a // b. The second line should contain the result of float division, a/b.
No rounding or formatting is necessary.
Example
a = 3
b = 5
The result of the integer division 3//5=0.
The result of the float division is 3/5 = 0.6.
Print:
0.6
Input Format
The first line contains the first integer, a.
The second line contains the second integer, b.
Output Format
Print the two lines as described above.
Sample Input O
4
3
Sample Output O
1
1.33333333333

In [4]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(int(a//b))
    print(float(a /b))

4
3
1
1.3333333333333333

Task
The provided code stub reads an integer, 71, from STDIN. For all non-negative integers i < n, print iÂ².
Example
n = 3
The list of non-negative integers that are less than n = 3i*epsilon[0, 1, 2] Print the square of each number on a separate line.
Input Format
The first and only line contains the integer, n.
Constraints
1 <= n <= 20
Output Format
Print lines, one corresponding to each i.
Sample Input O
5
Sample Output O
0
1
4
9
16

In [5]:
if __name__ == '__main__':
    n = int(input())
    for i in range ( 0, n):
        i = i * i
        print(i)

5
0
1
4
9
16

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes
approximately 365.25 days to orbit the sun. A leap year contains a leap day.
In the Gregorian calendar, three conditions are used to identify leap years
The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap yeans, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years, Source

Task
Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise retum False.
Note that the code stub provided reads from STDIN and passes arguments to the 15 leap function. It is only necessary to complete the is leap function.
Input Format
Read year, the year to test.

Constraints

1900 < year < 10
Output Format
The function must retum a Boolean value (True/False). Output is handled by the provided code stub.
Sample Input O

1990

Sample Output O

False

Explanation O

1990 is not a multiple of 4 hence it's not a leap year.

In [6]:
def is_leap(year):
   leap = False
   if year % 400 == 0:
        leap = True
   elif year % 100 == 0:
        leap = False
   elif year % 4 == 0:
        leap = True

   return leap

In [7]:
year = 1990
is_leap(year)

False

The included code stub will read an integer, n, from STDIN.
Without using any string methods, try to print the following:
123
Note that "..." represents the consecutive values in between.

Example

Print the string 12345.
Input Format
The first line contains an integer n.

Constraints

1 < n < 150
Output Format
Print the list of integers from 1 through in as a string, without spaces

Sample Input O
3
Sample Output O
123

In [8]:
if __name__ == '__main__':
    n = int(input())
    for i in range (1,n+1):
        print(i ,end="")

2
12